@font-face{font-family:NotoSans;src:url("fonts/OpenSans-Light.ttf");}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-o-box-sizing:content-box;-ms-box-sizing:content-box;}
html{font-size:100%;}
html,body{height:100%;font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif;}
a{text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:transparent;}
img{height:auto;max-width:100%;border:0;}
input,textarea{-webkit-appearance:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
.ul{overflow:hidden;margin:0;padding:0;list-style:none;}
.wrap{max-width:1920px;min-width:768px;margin: 0 auto;}
.items li{position:relative;float:left;width:50%;line-height:0;}
.items .mask{position:absolute;top:0;left:0;padding-top:26%;width:100%;height:100%;background:rgba(0,0,0,0.8);background:#000\9;color:#9c835b;text-align:center;font-size:1.6em;line-height:100%;filter:alpha(opacity=80);}
.items li a{display:block;}
.pages{overflow:visible;margin:0 auto;margin-top:100px;padding:0 20px 20px 0;width:80%;}
.pages li{float:left;margin-left:25px;}
.pages a{display:block;width:30px;height:30px;background-color:#fff;color:#fff;text-align:center;line-height:30px;}
.pages .active a{margin-top:-10px;width:40px;height:40px;background-color:#846f50;color:#0c0a07;font-size:23px;line-height:40px;}
.slider{position:relative;}
.slider .arrow-left,.slider .arrow-right{position:absolute;top:50%;z-index:9;display:none;margin-top:-35px;width:70px;height:70px;background:url(../img/arrows.png) rgba(0,0,0,0.3) no-repeat center;background-size:65%;}
.slider .arrow-left{left:0;background-position:15px 21px;}
.slider .arrow-right{right:0;background-position:15px -33px;}
.fw_modal{position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 10000;
display: none;
overflow: auto;
background: rgba(0, 0, 0, 0.8);
-webkit-overflow-scrolling: touch;
-webkit-backface-visibility: hidden;}
.fw_modal-body{position: relative;
display: block;
visibility: hidden;
padding: 1em 5em 0;
width: 100%;
min-height: 100%;
max-width: 1000px;
margin: 100px auto 0;
background: #eeebec;}
.fw_modal-close{position: absolute;
top: -65px;
right: 10px;
display: block;
width: 40px;
height: 40px;
background: url("../img/close.png") no-repeat 55% -15%;
background-size: 80%;}
.fw_modal h2{margin:1em 0 1em 0;color:#af9363;text-align:center;font-size:3em;font-family:NotoSans;}
.fw_modal .content{padding:50px 20px;color:#292929;font-size:1.2em;line-height:2em;}
.fw_modal .mailto{display: block;
text-align:center;
margin: 3em 0 3em;
width: 40%;
height: 3em;
border: 1px solid #fff;
background: #b09465;
color: #fff;
font-size: 1em;
line-height: 3em;}
.line{margin:4em auto 0;width:100px;border-bottom:1px solid #fff;}
.message{overflow:hidden;margin:5em 0 0 0;padding:2em 10% 10em;width:100%;background-color:#2e2d2d;}
.message h2{margin-top:0;color:#fff;text-align:center;font-size:4em;font-family:NotoSans;}
.message label{display:block;margin-left:.5em;color:#acacac;font-size:1.3em;}
.message input,.message textarea{margin:.5em 0 1em 0;padding:0 .8em;width:100%;height:4em;outline:0;border:0;background-color:#1f1f1f;color:#aaa;font-size:1.2em;}
.message input{line-height:4em;}
.message textarea{padding-top:.8em;height:11em;resize:none;}
.message .btn{padding:0 8px 50px 0;text-align:right;}
.message button{margin-top:1.96em;padding:0;width:100%;height:11em;outline:0;border:0;background:#846f50;color:#1d130f;font-size:1.2em;}
.message .f1,.message .f2,.message .f3{float:left;}
.message .f1{margin-right:4%;width:43%;}
.message .f2{width:43%;}
.message .f3{width:10%;}
@media only screen and (max-width:960px){html{font-size:93.8%;}
.message{padding:2em 5% 4em;}
.message button{margin-top:1.98em;}
.fw_modal-body{padding:5em 2% 0;}
.fw_modal-close{right:2%;}
.item{padding:0 2em;}
}
@media only screen and (max-width:768px){html{font-size:87.5%;}
.message{padding:2em 2% 4em;}
.message button{margin-top:1.96em;}
}
