@font-face{font-family:NotoSans;src:url("fonts/OpenSans-Light.ttf");}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-o-box-sizing:content-box;-ms-box-sizing:content-box;}
html{font-size:100%;}
html,body{height:100%;font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif;}
a{text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:transparent;}
img{height:auto;max-width:100%;border:0;}
input,textarea{-webkit-appearance:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
.ul{overflow:hidden;margin:0;padding:0;list-style:none;}
.wrap{max-width:828px;min-width:320px;margin: 0 auto;}
.items li{position:relative;width:100%;line-height:0;}
.items .mask{position:absolute;top:0;left:0;padding-top:26%;width:100%;height:100%;background:rgba(0,0,0,0.8);color:#9c835b;text-align:center;font-size:1.6em;line-height:100%;}
.items li a{display:block;}
#more{display:block;background:#171717;color:#af9364;text-align:center;font-size:3em;font-family:NotoSans;line-height:5em;}
.slider{position:relative;}
.slider .arrow-left,.slider .arrow-right{position:absolute;top:50%;z-index:10;display:none;margin-top:-25px;width:50px;height:50px;background:url(../img/arrows.png) rgba(0,0,0,0.3) no-repeat center;background-size:60%;}
.slider .arrow-left{left:0;background-position:10px 15px;}
.slider .arrow-right{right:0;background-position:12px -22px;}
.fw_modal h2{margin:0 0 1em 0;color:#282828;text-align:center;font-size:2.2em;font-family:NotoSans;}
.fw_modal .content{padding:30px 10px;color:#292929;font-size:1.2em;line-height:2em;}
.fw_modal .mailto{display: block;
margin: 3rem auto 3rem;
width: 80%;
height: 4rem;
border: 1px solid #fff;
background: #b09465;
color: #fff;
text-align: center;
font-size: 1.4rem;
line-height: 4rem;}
.fw_modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:10000;display:none;overflow:auto;background: #eeebec;-webkit-overflow-scrolling:touch;-webkit-backface-visibility:hidden;}
.fw_modal-body{padding:5em 1em 0;width:100%;max-width:828px;margin:0 auto;}
.fw_modal-close{position: absolute;
top: 1em;
right: 1em;
display: block;
width: 3em;
height: 3em;
background: url("../img/close.png") no-repeat 55% 170%;
background-size: 60%;}
.message{overflow:hidden;padding:2em 5% 8em;width:100%;background-color:#2e2d2d;}
.message h2{margin-top:0;height:3em;color:#fff;text-align:center;font-size:2em;font-family:NotoSans;line-height:3em;}
.message input,.message textarea{margin:.5em 0 1em 0;padding:0 .8em;width:100%;height:4em;outline:none;border:none;border-radius:0;background-color:#1f1f1f;color:#aaa;font-size:1.4em;}

.message textarea{padding-top:.8em;height:11em;resize:none;}
.message button{margin-top:1.96em;padding:0;width:100%;height:3em;outline:0;border:0;background:#846f50;background:#000;color:#af9364;font-size:1.6em;line-height:3em;}
@media only screen and (max-width:828px){html{font-size:93.8%;}
}
@media only screen and (max-width:640px){html{font-size:87.5%;}
}
@media only screen and (max-width:480px){html{font-size:81.3%;}
}
@media only screen and (max-width:320px){html{font-size:75%;}
}