*,:before,:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

a {
	display:block;
	cursor: pointer;
	text-decoration: none;
	line-height:0;
	-webkit-tap-highlight-color: transparent;
}

img {
	border: 0;
	width: 100%;
	height: auto;
}

.wrap {
	text-align: center;
}

.arrow-down{
	position: absolute;
	bottom: 4rem;
	left: 50%;
	margin-left: -2rem;
	font-size: 4rem;
}

@media only screen and (max-width: 828px) {
	html { font-size: 93.8%; }
}

@media only screen and (max-width: 640px) {
	html { font-size: 87.5%; }
}

@media only screen and (max-width: 480px) {
	html { font-size: 81.3%; }
}

@media only screen and (max-width: 320px) {
	html { font-size: 75%; }
}